<%= render "layouts/errors", :object => @division %>
<div class="jumbotron">
  <h2>New Division</h2>
</div>
<div class="content">
  <%=form_for @division do |f|%>
  <%=f.label :Name%>
  <%=f.text_field :name%>
  <%=f.submit%>
  <%end%>
</div>
