<%= render "layouts/errors", :object => @project %>
<div class="jumbotron">
  <h2>New Project</h2>
</div>
<div class="content">
  <%=form_for @project do |f|%>
  <%=f.label :Name%>
  <%=f.text_field :name%>
  <%=f.submit%>
  <%end%>
</div>
