<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<%# Removed links to styles.css and bootstrap, connecting through app/assets/stylesheets/application.css %>
  </head>

  <body>
    <div class="nav-bar table-responsive">
      <table class="table">
        <th><%= link_to "HOME", '/'%></th>
        <th><%= link_to "DIVISIONS", divisions_path%></th>
        <th><%= link_to "PROJECTS", projects_path%></th>
        <th><%= link_to "EMPLOYEES", employees_path%></th>
        <% if user_signed_in? %>
        <th><%= link_to "Sign-Out", destroy_user_session_path, :method => :delete%></th>
        <% else %>
        <th><%= link_to "Sign-In/Sign-Up", new_user_session_path%></th>
        <% end %>
      </table>
    </div>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
