<!DOCTYPE html>
<html>
<head>
  <title>EmployeeTracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "styles" %>

</head>

<body>
  <%= flash[:alert] %>
  <%= flash[:notice] %>
  <%= yield %>
</body>
</html>
